---
layout: default
---

<div class="home">
    {% if paginator.page == 1 %}
    <div class="row">
        <div class="col-md-12" style="background:url('/img/bgfeatured.jpg'); ">
            <div style="position:relative;">
                <a href="/proyectos/tales-of-vesperia">
                    <img src="/img/featured/tov001.jpg" style="width:100%;height:auto;"/>
                </a>
                <div style="width:100%;padding: 20px;position:absolute;bottom:0;background: url('/img/70-blanco.png');">
                    <div class="row" style=" font: bold 11px Arial, sans-serif;">
                        <div class="col-md-6" style="text-transform:uppercase;padding:6px 0;">
                            Traducción al español (desde noviembre de 2009)
                        </div>
                        <div class="col-md-3" class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                100.00%
                            </div>
                        </div>
                        <div class="col-md-3" class="progress progress-bar-info">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 100%;">
                                100.00%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="actual-content">
        <h1 class="page-heading"><span>Noticias</span></h1>

        <!--
        {{ paginator.page }}
        {{ paginator.per_page }}
        {{ paginator.previous_page }}
        {{ paginator.previous_page_path }}
        {{ paginator.next_page }}
        {{ paginator.next_page_path }}
        -->

        <div class="post-list">
            {% for post in paginator.posts %}
            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>

            <div>
                Publicado por
                {{ post.author.display_name }}
                el
                <span class="post-meta">{{ post.date | date: "%-d de %b de %Y" }}</span>
            </div>

            {{ post.content }}
            {% endfor %}
        </div>

        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

        {% if paginator.next_page_path %}
        <a href="{{ paginator.next_page_path }}">‹ Noticias más antiguas</a>
        {% endif %}

        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}">Noticias más recientes ›</a>
        {% endif %}
    </div>
</div>
