<footer class="site-footer">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-2 col-xs-6">
                <ul>
                    <li><strong>Secciones</strong></li>
                    <li><a href="/">Portada</a></li>
                    <li><a href="/">Noticias</a></li>
                    <li><a href="http://foro.tales-tra.com/">Foro</a></li>
                    <li><a href="/proyectos">Proyectos</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6">
                <ul>
                    <li><strong>Traducciones</strong></li>
                    <li><a href="/proyectos/tales-of-eternia">Tales of Eternia</a></li>
                    <li><a href="/proyectos/tales-of-the-abyss">Tales of the Abyss</a></li>
                    <li><a href="/proyectos/tales-of-destiny">Tales of Destiny</a></li>
                    <li><a href="/proyectos/tales-of-vesperia">Tales of Vesperia</a></li>
                    <li><a href="/proyectos/banjo-kazooie">Banjo-Kazooie</a></li>
                    <li><a href="/proyectos/suzumiya-haruhi-no-yakusoku">Suzumiya Haruhi no Yakusoku</a></li>
                    <li><a href="/proyectos/divi-dead">Divi Dead</a> <span class="adults">+18</span></li>
                    <li><a href="/proyectos/yume-miru-kusuri">Yume Miru Kusuri</a> <span class="adults">+18</span></li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6">
                <ul>
                    <li><strong>Fansubtitulado</strong></li>
                    <li><a href="/proyectos/tales-of-the-abyss-anime">Tales of the Abyss</a></li>
                    <li><a href="/proyectos/byousoku-5cm">Byousoku 5cm</a></li>
                    <li><a href="/proyectos/tales-of-vesperia-first-strike">Tales of Vesperia: First Strike</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6">
                <ul>
                    <li><strong>Aplicaciones</strong></li>
                    <li><a href="/proyectos/popgui">PopGui</a></li>
                    <li><a href="/proyectos/acme">ACME</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6">
                <ul>
                    <li><strong>Tales Translations</strong></li>
                    <li><a href="/acerca-de">Acerca de</a></li>
                    <li><a href="/acerca-de/historial">Historial</a></li>
                    <li><a href="/acerca-de/equipo">Equipo</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6">
                <ul>
                    <li><strong>Amiguetes</strong></li>
                    <li><a href="http://romhackhispano.org/" target="_blank">Romhack Hispano</a></li>
                    <li><a href="http://www.kawagames.com/" target="_blank">Juegos indie</a></li>
                    <li><a href="http://www.buzzmn.com/" target="_blank">BuzzMN</a></li>
                </ul>
            </div>
        </div>

        <div class="row" style="position: relative;">
            <div style="position:absolute;left:0;top:0;">
                <strong>Tales Translations</strong>, 2006—{{ site.time | date: '%Y' }}
            </div>
            <div style="position: absolute;right:0;top:0;">
                Todas las marcas, logos, ilustraciones, etc. son propiedad de sus respectivos dueños y autores.
            </div>
        </div>
    </div>
</footer>
