<div class="container-fuid" style="background: #222 url('/img/header.png') top center no-repeat;">
    <div class="container">
        <header class="site-header">

            <div class="row">
                <div class="col-md-12">
                    <a class="site-title" href="{{ site.baseurl }}/">
                        <img src="/img/logo.png" style="max-width:519px;width:100%;height:auto;padding: 16px 0;"
                             title="{{ site.title }}"/>
                    </a>
                </div>
            </div>

            <nav class="navbar navbar-inverse site-nav" style="margin-bottom:0;">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="">Blog</a></li>
                            <li><a href="">Proyectos</a></li>
                            <li><a href="">Foro</a></li>
                            <li><a href="">Gnac</a></li>
                            <li><a href="">Acerca de</a></li>
                            <li><a href="">Contacto</a></li>
                        </ul>
                    </div>
                </div>
            </nav>


            <nav class="site-nav">

                <!--
                <div class="trigger">
                    {% for my_page in site.pages %}
                    {% if my_page.title %}
                    <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                    {% endif %}
                    {% endfor %}
                </div>
                -->
            </nav>

        </header>
    </div>
</div>