<div class="container-fluid">
    <div style="margin:8px 0 32px 0;">
        <a href="http://feeds.feedburner.com/tales-tra" target="_blank"><img src="/img/suscribete-feed.gif"/></a>
    </div>

    <h1 class="page-heading"><span>Proyectos</span></h1>
    <div class="row">
        <div class="col-md-12 col-xs-6"><a href="/proyectos/tales-of-the-abyss/"><img src="/img/proyectos/toa-250x76.jpg" style="width:100%;height: auto;padding:3px 0;"/></a></div>
        <div class="col-md-12 col-xs-6"><a href="/proyectos/tales-of-eternia/"><img src="/img/proyectos/toe-250x76.jpg" style="width:100%;height: auto;padding:3px 0;"/></a></div>
        <div class="col-md-12 col-xs-6"><a href="/proyectos/tales-of-destiny/"><img src="/img/proyectos/tod-250x76.jpg" style="width:100%;height: auto;padding:3px 0;"/></a></div>
        <div class="col-md-12 col-xs-6"><a href="/proyectos/tales-of-vesperia/"><img src="/img/proyectos/tov-250x76.jpg" style="width:100%;height: auto;padding:3px 0;"/></a></div>
        <div class="col-md-12 col-xs-6"><a href="/proyectos/banjo-kazooie/"><img src="/img/proyectos/banjokazooie-250x76.jpg" style="width:100%;height: auto;padding:3px 0;"/></a></div>
        <div class="col-md-12 col-xs-6"><a href="/proyectos/suzumiya-haruhi-no-yakusoku/"><img src="/img/proyectos/yakusoku-250x76.jpg" style="width:100%;height: auto;padding:3px 0;"/></a></div>
        <div class="col-md-12 col-xs-6"><a href="/proyectos/popgui/"><img src="/img/proyectos/popgui-250x76.jpg" style="width:100%;height: auto;padding:3px 0;"/></a></div>
    </div>
    <div><a href="/proyectos" style="border-top:1px dotted #777;margin-top:8px;padding-top:8px;">Más proyectos ›</a></div>
    <h1 class="page-heading"><span>Últimos Comentarios</span></h1>
    <h1 class="page-heading"><span>Equipo</span></h1>
</div>